@import "tailwindcss";
@import 'theme-toggles/css/expand';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
    --font-default: Menlo, Monaco, Lucida Console, 'Courier New', Courier, monospace;
    --font-title: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer utilities {
    .animate-timeline-reveal {
        view-timeline-name: --revealing;
        view-timeline-axis: block;
        animation-timeline: --revealing;
        animation-range: entry 100% cover 10%;
    }
}